/* Margin and padding reset */
* {
    margin:0;
    padding:0;
}

/* Global declarations */
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size:62.5%;
    position:relative;
}

img {
    border:0;
}

ul {
    list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
    clear:both;
    font-family:"Modata", Tahoma, Arial, sans-serif;
    font-weight:normal;
}

h1 {
    font-size:28px;
    margin-bottom:15px;
}

h2 {
    font-size:18px;
    margin-bottom:10px;
}

h3 {
    font-family: Tahoma, Arial, sans-serif;
}

p {
    font-size:13px;
    line-height:20px;
    margin-bottom:15px;
}

hr {
    clear:both;
    width:100%;
    height:1px;
    border:0;
    margin-bottom:20px;
    margin-top:10px;
}

fieldset {
    padding:20px;
    margin-bottom:15px;
}

fieldset legend {
    font-size:13px;
    padding:5px 10px 0;
}

fieldset p {
    margin-bottom:20px;
}

input, textarea, select {
    padding:5px;
    margin-right:10px;
}

select option {
    padding-right:15px;
}

textarea {
    display:block;
    width:500px;
    height: 160px;
}

label {
    display:inline-block;
    font-size:12px;
    width:120px;
}

a.button {
    position:relative;
    padding:3px 10px 3px 0px;
    text-decoration:none;
    width:auto;
    display:inline-block;
    margin-right:10px;
}

a.button_table {
    position:relative;
    padding:0px 0px 3px 0px;
    text-decoration:none;
    width:auto;
    display:inline-block;
    margin-right:10px;
}

a.button span, a.button_table {
    float:center;
    position:relative;
    margin:2px 3px 0 3px;
}

input.sf {
    width:120px;
}

input.mf {
    width:240px;
}

input.lf {
    width:360px;
}

.field_desc {
    font-style:italic;
    font-size:11px;
    color:#555;
    margin-left: 125px;
}

.field_html {
    font-style:italic;
    font-size:11px;
    color:#555;

}

.field_html a {
    color: #000000;
    text-decoration: none;
}

.field_html a:hover {
    text-decoration: underline;
}

.validate_error {
    font-size:11px;
    color:#f00;
    font-style:italic;
    display: none;
}

.validate_success {
    font-size:11px;
    color:#739f1d;
    font-style:italic;
}

.inpcol {
    display:inline-block;
    padding: 0 30px 0 15px;
    margin-bottom:15px;
}

.inpcol p {
    margin-bottom:5px;
}

INPUT[type="checkbox"], INPUT[type="radio"] {
    margin:1px 6px 0 10px;
    padding: 0;
}

#container {
    min-width:960px;
    max-width:1600px;
    margin:0 auto;
}

#header {
    width:100%;
    height:130px;
    background-image: url(../images/polygon.png);
}

#header #top {
    display:block;
    width:100%;
    height:83px;
}

#top .logo {
    float:left;
    display:inline;
    padding-left: 5px;
    padding-top: 5px;
    width: 350px;
    height:75px;
    padding-left: 20px;
}

#top .meta {
    display:inline;
    float:right;
    position:relative;
    padding-right:20px;
    margin-top:10px;
}

.meta p {
    text-align:right;
    margin-bottom:10px;
    margin-top:10px;
    color:#aaa;
}

.meta ul {
    float:right;
}

.meta ul li {
    float:right;

}

.meta ul li .ui-icon {
    float:left;
}

.meta ul li a {
    float:left;
    margin:0 0 0 10px;
    font-size:10px;
    text-decoration:none;
}

.meta ul li a span {
    margin-top:-2px;
}

p.mid {
    text-align:center;
    margin-top:20px;
}

p.mid a {
    padding:0 10px;
}

#header #search {
    float:right;
    display:block;
    position:relative;
    width:249px;
    right:5px;
    height:26px;
    margin-top:13px;
}

#search input {
    background:none;
    border:0;
    width:180px;
    padding:5px 10px 0 0;
    position:relative;
    font-size:12px;
    font-style:italic;
}

#search input.but {
    position:relative;
    float:left;
    width:24px!important;
    height:24px;
    margin-top:1px;
    padding:0!important;
}

#header #navbar {
    float:left;
    display:block;
    width: 100%;
}

#navbar ul.nav {
    display:inline-block;
    height:30px;
    margin-top:11px;
    position:relative;
    float:left;
}

ul.nav li {
    float:left;
    position:relative;
    height:30px;
    display:block;
}

ul.nav li a {
    color:#ccc;
    text-decoration:none;
    font-size:12px;
    padding:10px 20px 12px;
    display:block;
}

ul.nav ul {
    position:		absolute;
    top:			-999em;
    width:			10em; 
}

ul.nav ul li {
    border:0;
    padding:5px;
    width:130px;
    z-index:9999!important;
    height:auto;
}

ul.nav li:hover ul,
ul.nav li.sfHover ul {
    left:			0;
    top:			3.6em; /* match top ul list item height */
    z-index:		9999!important;
}

ul.nav li:hover li ul,
ul.nav li.sfHover li ul {
    top:			-999em;
}

ul.nav li li:hover ul,
ul.nav li li.sfHover ul {
    left:			14.0em; /* match ul width */
    top:			0;
}

ul.nav li li:hover li ul,
ul.nav li li.sfHover li ul {
    top:			-999em;
}

ul.nav li li li:hover ul,
ul.nav li li li.sfHover ul {
    left:			14.0em; /* match ul width */
    top:			0;
}


ul.nav li li {
    position:relative;
    z-index:9999!important;
}

ul.nav li li a {
    display:block;
    width:110px;
    font-size:12px;
    padding:5px 10px;
}


#bgwrap {
    float:left;
    position:relative;
    width:100%;
}


#sidebar {
    float:left;
    width:280px;
    position:relative;
    padding:0 15px;
}

#sidebar h2 {
    margin-top:30px;
}

#sidebar p {
    margin-bottom:0;
}

#sidebar .sort {
    display:inline-block;
    width:234px;
}

.sort .portlet {
    width:100%;
}


#sidebar ul {
    width:240px;
    margin-bottom:30px;
}

#sidebar ul li {
    width:190px;
    padding:5px 25px;
}



#sidebar ul ul {
    width:190px;
    margin-bottom:0;
    margin-top:3px;
}

#sidebar ul li ul li {
    width:165px;
}

#sidebar ul li ul li ul li {
    width:140px;
}

#sidebar li.last {
    border-bottom:0;
}

#accordion ul {
    width: 220px;
}

#accordion ul li {
    padding: 2px 5px 2px 20px;

}

#content {
    float:right;
    width:100%;
    margin-left:-450px;
    position:relative;
    padding-bottom:30px;
}

#main {
    margin-left:30px;
    margin-right:30px;
    padding-top:15px;
    position:relative;
}

.pad20 {
    display:block;
    min-width:590px;
    max-width:1230px;
    padding:10px 20px;
}

#content ul.dash {
    float:left;
    display:block;
    margin-bottom:20px;
}

#footer {
    clear:both;
    float:left;
    width:100%;
    display:block;
    height:120px;
    position:relative;
}

ul.dash li {
    float:left;
    display:inline;
    margin:0 15px 15px 0;
}


ul.dash li a {
    display:block;
    width:106px;
    height:102px;
    text-decoration:none;
}

ul.dash li a img {
    display:inline;
    width:48px;
    margin-left:29px;
    margin-top:20px;
}

ul.dash li a span {
    display:block;
    width:100%;
    text-align:center;
    margin-top:10px;
    font-size:11px;
}

/* Tables */
table.fullwidth {
    width:100%;
    clear:both;
    font-size:13px;
    padding:1px;
    margin-bottom:10px;
}
.clear:after {clear:both; content: ''; display: block;}

.status_korpe > div:first-child p {background:#545965; color:#FFF; height:50px; width:100%; box-sizing: border-box; padding:0 10px; line-height: 50px; border-radius: 5px 0 0 5px;}
.status_korpe a {width: 33%; float:left; margin:0 !important; box-sizing: border-box; display: inline-block; line-height: 50px; background:#D7D7D7; color:#454545; font-size: 12px; text-decoration: none; text-align: center;}
.status_korpe a:last-child {border-radius: 0 5px 5px 0;}
.status_korpe a.active {background:#688fdc; color:#FFF; font-size:14px;}

table.normal {
    font-size:13px;
    padding:1px;
    margin-bottom:10px;
}

table.fullwidth thead, table.normal thead {
    height:28px;
    text-transform:uppercase;
    font-size:10px;
}

table.fullwidth td, table.normal td {
    padding:7px 9px;
    margin:1px 0;
    text-align: center;
}
/* End of Tables */

#columns {
    display:block;
    width:100%;
}

#columns .cols2 {
    display:block;
    float:left;
    width:50%;
} 

#columns .cols3 {
    display:block;
    float:left;
    width:31%;
    padding:10px;
}

#columns .cols4 {
    display:block;
    float:left;
    width:25%;
}

.box {
    clear:both;
    float:left;
    width:90%;
}

/*NOTIFICATION MESSAGES*/
.message {
    display:block;
    padding:10px 20px;
    margin-bottom:15px;
}

.message p {
    width:auto;
    margin-bottom:0;
    margin-left:60px;
}

.message h2 {
    margin-left:60px;
    margin-bottom:5px;
}

.warning {
    background:#feffc8 url('../assets/icons/warning_48.png') 20px 50% no-repeat;
    border:1px solid #f1aa2d;
} 

.message p {
    color:#555;
}

.message h2 {
    color:#333;
}

.error {
    background:#fdcea4 url('../assets/icons/stop_48.png') 20px 50% no-repeat;
    border:1px solid #c44509;
}

.success {
    background:#d4f684 url('../assets/icons/tick_48.png') 20px 50% no-repeat;
    border:1px solid #739f1d;
}

.information {
    background:#c3e4fd url('../assets/icons/info_48.png') 20px 50% no-repeat;
    border:1px solid #688fdc;
}

.message:hover {
    cursor:pointer;
}
/* end of notification messages */

.portlet {
    padding:2px;
    margin-bottom:15px;
}


.portlet-header {
    font-weight:normal!important;
    /*display:inline;*/
    padding:5px 5px 5px 10px;
}

.portlet-content {
    padding:10px;
}

.ui-sortable-placeholder {
    padding:0;
    visibility:visible!important;

}

.input_field {
    display:block;
    margin-bottom:10px;
}

#pagination {
    float: left;
    clear: both;
    color: #d8d8d8;
    margin-top: 10px;
    font-size: 12px;
    width: 700px;
}

#pagination div {
    width: auto;
    min-width: 60px;
    padding: 4px;
    float: left;
    display: block;
}

#pagination a {
    padding: 5px;
    position:relative;
    text-decoration:none;
    width:auto;
    display:inline-block;
    margin-right:10px;
    color: #ffffff;
    background: #000000;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#pagination a:hover {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px;
    background: #e0e0e0;
}

#pagination a.active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px;
    background: #d3d3d3;
}

.sortable-class {
    background:#cecece;
    width: 100%;
    height: 50px;
} 

.category_path a {
    color: #555555;
    font-size: 13px;
    text-decoration: none;
}

.category_path a:hover {
    text-decoration: underline;
}

.w120 {
    width: 120px;
}

.left_form {
    float: left;
}

.w590 {
    width: 590px;
}

.right_input {
    float: right;
}

.multicategories {
    margin-top:10px;
    padding:10px;
    margin-left: 10px;
    border:1px solid #efefef;
    width:80%;
    clear: both;
    float: left;
    margin-bottom: 10px;
}

.multicategories h3 {
    margin-bottom: 5px;
    margin-top: 10px;
    color: #666666;
}

table.rezultati {width:100%; font-size:12px;}
table.rezultati  thead tr th {font-size:11px; color:#999999; border:1px solid #CCC; border-bottom:3px solid #999999; padding:10px; background: #F0F0F0 url("/images/white-arrow.png") right center no-repeat;}
table.rezultati tbody tr td {font-size:11px; border:1px solid #CCC; text-align: center; padding:10px; vertical-align: middle; color:#000; }
table.rezultati tbody tr td em {width:15px; height:15px; display:block; margin:0 auto; border:2px solid #777;}

table.rezultati tbody tr:nth-child(even) td {background:#f3f4f4;}
table.rezultati tbody tr:hover td {background:#FFFFDD;}
.areaCCC textarea {border:1px solid #CCC; padding:10px; font-size:12px; width:100%;}
table.rezultati tfoot tr {color: #333;
                          text-align: center;}
table.rezultati tfoot td, table.rezultati tfoot th {
    background-color: #f3f3f3;
    border: 1px solid #999;
    border-top: 3px solid #999;
    text-align: center;
    padding:10px 0;
}
table.rezultati tfoot td p {display:inline-block;}
table.rezultati tfoot td a {border: 1px solid #ccc;
                            display: inline-block;
                            height: 33px;
                            line-height: 33px;
                            padding: 0 10px;
                            text-align: center;}
table.rezultati input[type="text"], table.rezultati textarea {border:1px solid #CCC; height:35px; width:100%; padding:0 10px; font-size: 12px; box-sizing: border-box;}
table.rezultati textarea {height:70px;}
table.rezultati input[type="submit"] {background: #8e44ad none repeat scroll 0 0;
                                      border-radius: 5px;
                                      color: #fff;
                                      cursor: pointer;
                                      display: block;
                                      float: right;
                                      font-size: 20px;
                                      padding: 20px;
                                      text-align: center;
                                      width: 200px;}
.button{min-width: 60px;padding: 6.2px 10px;font-size: 1em;}